<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
	<div class="container">
        <h1 class="text-center">Nodejs Authentication</h1>

    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</html>